<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-button class="menu-button">
      <fa-icon [icon]="['fas', 'bars']" size="lg" (click)="sidenav.toggle()"></fa-icon>
    </button>
    <h1>Docker Apps @ 192.168.1.200</h1>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <mat-nav-list>

      <!-- hidden link to prevent first item in the list from being always auto-highlighted -->
      <a mat-list-item routerLink="/" style="height: 0;"></a>
      <a mat-list-item [routerLink]="'/home'" [routerLinkActive]="'link-active'"
         (click)="sidenav.toggle()"><fa-icon [icon]="['fas', 'home']"></fa-icon>&nbsp; Home </a>
      <a mat-list-item [routerLink]="'/tools'" [routerLinkActive]="'link-active'"
         (click)="sidenav.toggle()"><fa-icon [icon]="['fas', 'tools']"></fa-icon>&nbsp; Tools </a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
